<div id="nav">
      <%= link_to "Edit", edit_plant_path(@plant) %>  |
      <%= link_to "Delete", @plant, method: "delete", data: {confirm: "Are you sure you want to delete this plant?"} %> |
      <%= link_to "My Plants", plants_path %> |
      <%= link_to "Logout", logout_path %>
</div>

<h1><%= @plant.plant_name %></h1>

<div class="plant_info">
  <p><%= image_tag @plant.url %></p>
  <p>Plant Description: <%= @plant.description %></p>
  <p>Moisture Threshold: <%= @plant.moisture_threshold %></p>
 <!--  <p>Temperature Threshold: <%= @plant.temp_threshold %></p> -->
  <p>Notes: <%= @plant.notes %></p>
</div>

